<h2 mat-dialog-title><strong>Adicionar pauta</strong></h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Título da pauta</mat-label>
    <input matInput [(ngModel)]="titulo">
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="descricao"></textarea>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="automatico">Automático</mat-checkbox>
  <mat-checkbox [(ngModel)]="definirPrazo">Definir prazo</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Salvar</button>
</mat-dialog-actions>
