.discuss {
  width: 293px;
  height: 250px;
  padding: 20px;
  margin: 20px;
  gap: 12px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #FFFFFF;
}

.discuss-title {
  width: 253px;
  height: 36px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 900;
  line-height: 18.15px;
  text-align: left;
  margin: 10px;
}

.discuss-paragraph {
  width: 253px;
  height: 102px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin: 10px;
}

.discuss-status {
  display: flex;
  align-items: center;
  justify: space-between;
}

.button-edit{
  margin-left: auto;
}
