.header {
  position: relative;
  width: 100%;
}

.button {
  background-color: transparent;
  padding: 12px 16px 12px 16px;
  border-radius: 100px;
  opacity: 0px;
  box-shadow: 0px 0px 15.5px 0px #00000066;
  margin-right: 10px;
}

.button-plus {
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: 100px;
  opacity: 0px;
  box-shadow: 0px 0px 15.5px 0px #00000066;
  position: absolute;
  right: 0;
  top: 0;
}

.mural {
  display: flex;
  align-items: center;
  justify: space-between;

}
