<section class="container">
  <header class="header">
    <button routerLink="/newDiscuss" class="button">Todas as pautas</button>
    <button routerLink="/newDiscuss" class="button">Pautas em votação</button>
    <button routerLink="/newDiscuss" class="button">Pautas aprovadas</button>
    <button routerLink="/newDiscuss" class="button">Pautas reprovadas</button>
    <button routerLink="/newDiscuss" class="button-plus"> + Pauta</button>
  </header>
  <div class="mural" *ngIf="listDiscuss.length > 0, else withoutDiscuss">
    <div *ngFor="let discuss of listDiscuss">
      <app-all-discuss [discuss]="discuss"></app-all-discuss>
    </div>
  </div>
</section>
<ng-template #withoutDiscuss>
  <div class="ff-inter sem-discuss">
    <p>Ainda não pautas criadas!</p>
  </div>
</ng-template>
